@model int[]
<div class="stats-card">
    <div class="card-header">Resumen</div>
    <div class="card-body">
        <p class="card-text">Activos: <span class="badge badge-success">@Model[0]</span></p>
        <p class="card-text">Inactivos: <span class="badge badge-danger">@Model[1]</span></p>
    </div>
</div>